
  
  /* Titre */
  .ds {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 2rem;
    
    font-size: 3rem;
    font-weight: bold;
  }
  
  /* Carte de catégories */
  .category-count-card {
    background-color: rgba(197, 33, 99, 0.729);
    border-radius: 8px;
    padding: 1.5rem 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 0 auto 2rem;
    max-width: 700px;
    text-align: left;
    font-size: 1.1rem;
  }
  
  .category-count-card h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #111;
  }
  
  .category-count-card p {
    margin: 0.5rem 0;
  }
  
  /* Grille de produits */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin:50px  auto;
  }
  
  /* Carte produit */
  .product-card {
    background-color: rgba(111, 104, 104, 0.733);
    height:170px;
    border-radius: 9px;
    padding: 1.8rem;
    box-shadow: 0 4px 12px rgba(123, 34, 34, 0.06);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #222;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #272323;
  }
  

  .popup-popup{
    margin:30px 0;
  }  